<!doctype html>
<html ng-app="myApp">
<head>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="bower_components/lungo/lungo.css">
    <link rel="stylesheet" href="bower_components/lungo/lungo.icon.css">
    <link rel="stylesheet" href="bower_components/lungo/lungo.theme.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-controller="AppCtrl">

<section id="main" data-transition="slide" data-aside="features" class="drag">
    <header>
            <h1 class="title centered">{{'Sleating' | translate}}</h1>
    </header>

    <nav data-control="groupbar">
        <a href="#" data-view-article="layout-form" data-label="{{'Foods' | translate}}" class=""></a>
        <a href="#" data-view-article="layout-menu" data-label="{{'Menu' | translate}}" data-count="{{menu.foodsCheck.length}}" class="active"></a>
        <a href="#" data-view-article="layout-info" data-label="{{'Info' | translate}}" class=""></a>
    </nav>


    <article id="layout-form" class="list scroll active">
        <ul>
            <li class="form">
                <strong class="text large bold">{{'Selecting the target' | translate}}</strong>
                <fieldset>
                    <label class="anchor">{{'Slimming or Stay' | translate}}</label>
                    <input type="checkbox"  ng-model="menu.thin" class="align_right"> 
                </fieldset>
            </li>

            <li ng-repeat-start="(name, foodGroup) in foods" ng-click="groupShowToggle(name)" class="anchor contrast">
                {{name | translate}}
            </li>
            <li ng-repeat-end class="group form box" ng-show="groupShow[name]">
                <fieldset ng-repeat="food in foodGroup">
                    <label ng-class="menu.getFoodClass(food)" class="anchor" >
                        {{food.name | translate}}</label>
                    <input type="checkbox" name="{{food.name}}" ng-click="menu.toggleFood(food)" ng-disabled="menu.isFoodDisabled(food)" class="align_right"> 

                </fieldset>
            </li>
        </ul>
    </article>

    <article id="layout-menu" class="list scroll">
        <ul>
            <li>
                <strong>Eating slimming</strong>
                <small ng-repeat="food in menu.foodsCheck">{{food.name}}</small>
            </li>
        </ul>
    </article>

    <article id="layout-info" class="indented scroll">
        <div>
                <h1 class="title" data-icon="home"><span class="icon home"></span>Sleating es la versión webApp de <strong>adelgazarcomiendo.com</strong></h1>
        </div>
    </article>


</section>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/quojs/quo.js"></script>
<script src="bower_components/lungo/lungo.js"></script>
<script>
    Lungo.init({});
</script>
<script src="js/app.js"></script>
<script src="js/menu.js"></script>
</body>
</html>

